# setting up application environment variables

MONGO_URI=mongodb+srv://{mongo_cluster_username}:{mongo_cluster_password}@cluster0.7mavd.mongodb.net/infl-platform-db?retryWrites=true&w=majority&appName=Cluster0

PORT=4000