name: CI/CD Pipeline for Dockerized NestJS App to EC2

on:
  push:
    branches:
      - main # Trigger the workflow when there is a push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout repository
        uses: actions/checkout@v2

      # Step 2: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      # Step 3: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 4: Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/campaign-app-bn .
          docker push ${{ secrets.DOCKER_USERNAME }}/campaign-app-bn

      # Step 5: Deploy Docker image to EC2
      - name: Deploy to EC2
        env:
          EC2_PRIVATE_KEY: ${{ secrets.EC2_PRIVATE_KEY }}
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}
        run: |
          # SSH into EC2 instance and run Docker container
          echo "$EC2_PRIVATE_KEY" > private_key.pem
          chmod 600 private_key.pem
          ssh -i private_key.pem -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST << 'EOF'
            cd campaign-platform
            docker pull ${{ secrets.DOCKER_USERNAME }}/campaign-app-bn
            docker stop campaign-app-bn || true
            docker rm campaign-app-bn || true
            docker run -d -p 80:4000 --name campaign-app-bn --env-file ./.env ${{ secrets.DOCKER_USERNAME }}/campaign-app-bn
          EOF
